/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://tailwindcss.com/docs/adding-base-styles */
}

@layer components {
  /* https://tailwindcss.com/docs/extracting-components */
}

@layer utilities {
  /* https://tailwindcss.com/docs/adding-new-utilities */
  .pt-screen {
    padding-top: 100vh;
  }

  .py-1\/2 {
    padding-top: 50vh;
    padding-bottom: 50vh;
  }
}
